.col-md-9
  %h3.m_1 New Products
  .content_grid
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic1.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic2.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
          .sale-box1
            %span.on_sale1.title_shop New
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem.last_1
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic3.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .clearfix
  .content_grid
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic4.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic5.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem.last_1
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic6.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .clearfix
  %h3.m_2 Top Products
  .content_grid
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic7.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic8.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem.last_1
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic13.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .clearfix
  %h3.m_2 Sale Products
  .content_grid
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic10.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic11.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .col_1_of_3.span_1_of_3.simpleCart_shelfItem.last_1
      %a{href: "single.html"}
        .inner_content.clearfix
          .product_image
            %img.img-responsive{alt: "", src: "images/pic12.jpg"}/
            %a.button.item_add.item_1{href: ""}
            .product_container
              .cart-left
                %p.title Lorem Ipsum 2015
              %span.amount.item_price $45.00
              .clearfix
    .clearfix
