.footer
  .container
    .footer-grid
      %h3 Category
      %ul.list1
        %li
          %a{href: "#"} Home
        %li
          %a{href: "#"} About us
        %li
          %a{href: "#"} Eshop
        %li
          %a{href: "#"} Features
        %li
          %a{href: "#"} New Collections
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "#"} Contact
    .footer-grid
      %h3 Our Account
      %ul.list1
        %li
          %a{href: "#"} Your Account
        %li
          %a{href: "#"} Personal information
        %li
          %a{href: "#"} Addresses
        %li
          %a{href: "#"} Discount
        %li
          %a{href: "#"} Orders history
        %li
          %a{href: "#"} Addresses
        %li
          %a{href: "#"} Search Terms
    .footer-grid
      %h3 Our Support
      %ul.list1
        %li
          %a{href: "#"} Site Map
        %li
          %a{href: "#"} Search Terms
        %li
          %a{href: "#"} Advanced Search
        %li
          %a{href: "#"} Mobile
        %li
          %a{href: "#"} Contact Us
        %li
          %a{href: "#"} Mobile
        %li
          %a{href: "#"} Addresses
    .footer-grid
      %h3 Newsletter
      %p.footer_desc Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
      .search_footer
        %input.text{onblur: "if (this.value == '') {this.value = 'Insert Email';}", onfocus: "this.value = '';", type: "text", value: "Insert Email"}/
        %input{type: "submit", value: "Submit"}/
      %img.img-responsive{alt: "", src: "images/payment.png"}/
    .footer-grid.footer-grid_last
      %h3 About Us
      %p.footer_desc Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,.
      %p.f_text Phone:    00-250-2131
      %p.email
        Email:
        %a{href: "#"} info(at)Shape.com
    .clearfix
