.header
  .container
    .header-top
      .logo
        =link_to root_path do
          %img{alt: "", src: "/logo.png"}/
      .clearfix
    .banner_wrap
      .bannertop_box
        .welcome_box
          %h2 Welcome to windsur
          %p It is a long established fact that a reader will be distracted by the readable content of a page
        .search
          %input{onblur: "if (this.value == '') {this.value = 'Search';}", onfocus: "this.value = '';", type: "text", value: "Search"}/
          %input{type: "submit", value: ""}/
      .clearfix
