.col-md-3
  .menu_box
    %h3.menu_head Menu
    %ul.nav
      %li
        %a{href: "apparel.html"} About
      %li
        %a{href: "apparel.html"} Apparel
      %li
        %a{href: "apparel.html"} Shape Apparel
      %li
        %a{href: "apparel.html"} Windsurf
      %li
        %a{href: "apparel.html"} Kitesurf
      %li
        %a{href: "apparel.html"} Accessories
      %li
        %a{href: "apparel.html"} Sale
      %li
        %a{href: "apparel.html"} Brands
      %li
        %a{href: "apparel.html"} Blog
      %li
        %a{href: "apparel.html"} Gadgets
      %li
        %a{href: "contact.html"} Contact
