.col-md-3
  .menu_box
    %h3.menu_head Markalar
    %ul.nav
      -brands.each_with_index do |brand, index|
        %li
          =link_to brand, forklifts_path(brand: index)
    %h3.menu_head Forklift Tipi
    %ul.nav
      -forklift_types.each_with_index do |forklift_type, index|
        %li
          =link_to forklift_type, forklifts_path(forklift_type: index)
    %h3.menu_head Asansör Tipi
    %ul.nav
      -elevator_types.each_with_index do |elevator_type, index|
        %li
          =link_to elevator_type, forklifts_path(elevator_type: index)
