.col-md-3
  .menu_box
    %h3.menu_head Menu
    %ul.nav
      %li
        %a{href: "apparel.html"} About
      %li
        %a{href: "apparel.html"} Apparel
      %li
        %a{href: "apparel.html"} Shape Apparel
      %li
        %a{href: "apparel.html"} Windsurf
      %li
        %a{href: "apparel.html"} Kitesurf
      %li
        %a{href: "apparel.html"} Accessories
      %li
        %a{href: "apparel.html"} Sale
      %li
        %a{href: "apparel.html"} Brands
      %li
        %a{href: "apparel.html"} Blog
      %li
        %a{href: "apparel.html"} Gadgets
      %li
        %a{href: "contact.html"} Contact
  .tags
    %h4.tag_head Tags Widget
    %ul.tags_links
      %li
        %a{href: "#"} Kitesurf
      %li
        %a{href: "#"} Super
      %li
        %a{href: "#"} Duper
      %li
        %a{href: "#"} Theme
      %li
        %a{href: "#"} Men
      %li
        %a{href: "#"} Women
      %li
        %a{href: "#"} Equipment
      %li
        %a{href: "#"} Best
      %li
        %a{href: "#"} Accessories
      %li
        %a{href: "#"} Men
      %li
        %a{href: "#"} Apparel
      %li
        %a{href: "#"} Super
      %li
        %a{href: "#"} Duper
      %li
        %a{href: "#"} Theme
      %li
        %a{href: "#"} Responsiv
      %li
        %a{href: "#"} Women
      %li
        %a{href: "#"} Equipment
    %a.link1{href: "#"} View all tags
